/* imported font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* applied font style to whole body */
body {
    font-family: "Azeret Mono", monospace;
}

header {
    text-align: center;
    background-color: white;
}

/* nav-bar styles start */
nav {
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 28px;
    font-weight: bolder;
    color: #0D1321;
}

.nav-btn {
    background-color: white;
    color: #0D1321;
    padding: 18px 24px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}

/* hero styles start here */
.hero {
    background: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 220px 45px;
    color: #0D1321;
}

.hero img {
    max-width: 240px;
    max-height: 240px;
    margin-bottom: 32px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.hero p {
    font-size: 16px;
    margin: 0px 200px 32px;
}

.hero-btn {
    background-color: #0D1321;
    color: white;
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
}

/* why-web-dev styles start here */
section {
    margin: 80px 150px;
    background-color: whitesmoke;
    padding: 100px;
    border-radius: 15px;
    text-align: center;
}

.section-container {
    background-color: #FFFFFF;

}

section h2 {
    font-size: 32px;
    font-weight: bolder;
}

section p {
    font-size: 16px;
}

.cards {
    padding: 50px;
    justify-content: center;

}

.card {
    background-color: white;
    text-align: left;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 350px;
    margin: 50px 0px;
}

.card-content {
    max-width: 450px;
}

.card-title {
    color: #0D1321;
    opacity: 80%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-description {
    color: #0D1321;
    opacity: 100%;
    font-size: 16px;
    margin-bottom: 30px;
}

.learn-more-btn {
    background-color: white;
    color: #0D1321;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 12px;
    text-decoration: none;
    margin-bottom: 30px;

}

.card img {
    max-width: 280px;
    max-height: 260px;
    border-radius: 10px;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    margin: 10px 0;
}