/* imported font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* applied font style to whole body */
body {
    font-family: "Azeret Mono", monospace;
}

header {
    text-align: center;
    background-color: white;
}

/* nav-bar styles start */
nav {
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 28px;
    font-weight: bolder;
    color: #0D1321;
}

.nav-btn {
    background-color: white;
    color: #0D1321;
    padding: 18px 24px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}

/* hero styles start here */
.hero {
    background: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 220px 45px;
    color: #0D1321;
}

.hero img {
    max-width: 240px;
    max-height: 240px;
    margin-bottom: 32px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.hero p {
    font-size: 16px;
    margin: 0px 200px 32px;
}

.hero-btn {
    background-color: #0D1321;
    color: white;
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
}